.home-form{
  div.param{
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;

    &.submit{
      padding-top: 0;
      padding-bottom: 0;
      //background-color: #ffbf0c;
      background-color: #f1f1f1;

      button{
        height: 60px;
      }

      &:hover{
        background-color: #ffa009
      }
    }
  }
  input, select, button{
    height: 40px;

    border-color: transparent;
  }

  .ic{
    opacity: .5;
  }

  button{
    background-color: transparent;
    color: #000;
    opacity: .5;
    transition: all .2s ease;
    &:hover{
      opacity: 1;
      background-color: transparent;
      color: #000;
    }
  }
}