<footer class="ctr rltv blk fdg-h">
   <div class="abs fp bg-clr1 op4"></div>
   <div class="abs fp">
      <div class="footer-above  pdlr50 pdt20">
         <div class="container m0a">
            <div class="row fp ctr">
               <div class="footer-col col-3">
                  <span class="ti-location-pin blk icon-large tz-icon-color mb10"></span>
                  <h3 class=""> Location</h3>
                  <p>25 Aluguntugun
                     <br>East Legon, GH</p>
               </div>
               <div class="footer-col col-3">
                  <span class="ti-mobile blk icon-large tz-icon-color mb10"></span>
                  <h3>Call Us Today!</h3>
                  <p>(M) +233 (0) 243 456 7890</p>
                  <p>(M) +233 (0) 263 456 7890</p>
                  <!--<h3>Around the Web</h3>
                  <div class="menu h-menu m0a ctr atw blk">
                     <ul class="list-inline fp">
                        <li class="list-inline-item">
                           <a class="btn-social btn-outline" href="#">
                              <i class="fa fa-fw fa-facebook"></i>
                           </a>
                        </li>
                        <li class="list-inline-item">
                           <a class="btn-social btn-outline" href="#">
                              <i class="fa fa-fw fa-google-plus"></i>
                           </a>
                        </li>
                        <li class="list-inline-item">
                           <a class="btn-social btn-outline" href="#">
                              <i class="fa fa-fw fa-twitter"></i>
                           </a>
                        </li>
                        <li class="list-inline-item">
                           <a class="btn-social btn-outline" href="#">
                              <i class="fa fa-fw fa-linkedin"></i>
                           </a>
                        </li>
                     </ul>
                  </div>-->
               </div>
               <div class="footer-col col-3">
                  <span class="ti-email blk icon-large tz-icon-color mb10"></span>
                  <h3>Email</h3>
                  <p>abc@xyz.com</p>
                  <p>abc@xyz.com</p>
               </div>
            </div>
         </div>
      </div>
      <div class="footer-below  pdlr50 pdb20 clearfix">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 ac">
                  Copyright © <span class="company-name"></span> <span class="cur-year"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>