<!DOCTYPE html>
<html lang="en" class="fp">
<head>
   <meta charset="UTF-8">
   <title>Sharehouse</title>
   <!--<link rel="stylesheet" href="/css/vendor/main.css">-->
   <%- include('core-styles')%>
   <link rel="stylesheet" href="/css/sh/home-search.css">
</head>
<body class="fp">
<div class="blk fp global-host ys">
   <%- include('home-nav', {count: notifications})%>
   <section id="home" class="container home fp rltv" >

      <div class="fph row-2 ctr-hv">
         <div class="sharehouse-logo-her h150 pdtb50 fph rltv">
            <!--LARGE LOGO HERE-->
            <div class="fph4 h80 ctr-hv">
               <img src="/images/Sharehouse-long.svg" alt="" class="fpv ctr-hv">
            </div>
         </div>
         <div id="forms-parent" class="ctr-h bs-5-2 h60 pdl10 landing-form no-input-spacing container rc elevated fph8">
            <div class="fp home-form" id="opform">
               <!--Form-->
               <form action="/search" method="GET" class="operator">
                  <div class="">
                     <div class="param fpv w37p fl m0 iblk br">
                        <div class="ic w35 inputIcon iblk fpv pdt8 pdb7 fl ac bld7" title="Desired Space">
                           <!--<i class="fa fa-square-o fts100p" style=""></i>--> >=
                        </div>
                        <input class="inp fph-90 fl bld5" type="number" data-type="date" name="size" id="size"
                               value="80" placeholder="Size">
                        <div class="ic w55 fpv inputIcon iblk fpv bl0 pd3 pdt8 pdb7 ac cur-dft fts14 bld lh10" style="height: 38px;" >
                           (sq m)
                        </div>
                     </div>
                     <div class="param fpv w22p iblk pdlr10">
                        <select name="typeOfGoods" id="sdsdsd" title="">
                           <option >Select Type of Good</option>
                           <option selected="selected">General</option>
                           <option>Food and Beverages</option>
                           <option>Petroleum</option>
                           <option>Furniture</option>
                           <option>Electronics</option>
                           <option>Vehicles</option>
                        </select>
                     </div>
                     <div class="param fpv w37p iblk bl pdr10">
                        <div class="ic w35 inputIcon iblk fpv br0 pd9 pdt8 pdb7 fl ac" data-sbtn="usrDob">
                           <i class="fa fa-map-marker fts100p" style=""></i>
                        </div>
                        <input class="inp fph-35 fr bld5" type="text" data-type="date" name="location" id="location"
                               style="" value="Accra, Ghana" placeholder="Location">
                     </div>
                     <div class="param submit fpv w4p iblk fr bl ">
                        <button class=" pd10 fr fp ac" type="submit"><i class="fa fa-search"></i></button>
                     </div>
                  </div>

               </form>
            </div>

         </div>

      </div>
   </section>
   <%- include('core-footer')%>
</div>

<!--<script src="js/core/Barge.Utils.js"></script>-->
<!--<script src="js/core/Barge.Array.js"></script>-->
<!--<script src="js/core/Barge.Object.js"></script>-->
<!--<script src="js/core/Barge.String.js"></script>-->
<!---->
<!--<script src="js/ui/Barge.DomCore.js"></script>-->
<!--<script src="js/ui/Barge.Events.js"></script>-->
<!---->
<!--<script src="js/ui/dragSorter.js"></script>-->
<!--<script src="js/ui/Barge.Dom.TabbedView.js"></script>-->

<!--<script src="js/sharehouse.js"></script>-->
</body>
</html>