<div class="toolbox w60 rltv">
   <!---->
   <div class="fph ha ctr-v left0">
      <ul class="toolbox-list">


         <li class="<%= active === 'home' ? 'active' : ''%> rltv">
            <a href="/users/dashboard">
               <div class="fp rltv" data-tooltip="Manage Listings" tooltip-pos="right">
                  <span class="ctr-hv fts24 pe-n">
                     <i class="fa fa-home"></i>
                  </span>
               </div>
            </a>
         </li>
         <li class="<%= active === 'storage' ? 'active' : ''%>">
            <a class="" href="#">
               <div class="fp rltv" data-tooltip="In Storage" tooltip-pos="right">
                  <span class="ctr-hv fts24 pe-n">
                  <i class="fa fa-shopping-basket"></i>
               </span>
               </div>
            </a>
         </li>

         <!--Messages-->
         <li class="<%= active === 'messages' ? 'active' : ''%>">
            <a href="/users/dashboard/messages" class="noSub">
               <div class="fp rltv" data-tooltip="Messages" tooltip-pos="right">
                  <span class="ctr-hv fts24 pe-n rltv">
                     <!--messages count TODO only show if there are any messages-->
                     <span class="message-count hw15 rc50p bg-clr4 clr2 ac abs btm100p-4_plus left100p-7_plus fts12"></span>
                  <i class="fa fa-envelope"></i>
               </span>
               </div>
            </a>
         </li>
         <!---->
         <li class="<%= active === 'info' ? 'active' : ''%>">
            <a href="#" class="noSub">
               <div class="fp rltv" data-tooltip="More Info" tooltip-pos="right">
                  <span class="ctr-hv fts24 pe-n">
                  <i class="fa fa-area-chart"></i>
               </span>
               </div>
            </a>
         </li>

         <!--reports-->
         <!--<li class="">
            <a href="#" data-tbTip="Reports" class="noSub">
               <span class="toolBoxIconItem commandIcon tbIs2" data-bgpos="-58,-14">
                  <i class="fa fa-facebook"></i>
               </span>
            </a>
         </li>-->

         <!--Message-->

         <!--<li class="hDivider"></li>-->

      </ul>
   </div>

   <!--company profile-->
   <div class="fph h60 btm10 left0 pd10 abs" data-tooltip="Agrona Company Ltd" tooltip-pos="right">
      <div class="fp rc60 bg-clr27 rltv oh">
         <img src="/images/agrona.png" alt="" class="ctr-hv fpv">
      </div>
   </div>
</div>