<nav class="menubar abs fph blk">
   <div class="fp clr24">
      <!--<div class="fp blk abs nav-bg pdlr5p"></div>-->
      <div class="fpv fph95 blk pdl40 fl iblk">
         <div class="fp blk menu-container">
            <div class="head-logo rltv iblk fpv">
               <div>
                  <a href="/home">
                     <img src="/images/shpp.jpeg" alt="sharehouse logo" class="">
                  </a>
               </div>
               <div></div>
            </div>
            <div class="menu h-menu rltv iblk fpv ">
               <ul>
                  <li class="active"><a href="#" class="clr24">Home</a></li>
                  <li><a href="#" class="clr24">Services</a></li>
                  <li><a href="#" class="clr24">About</a></li><!-- team info shd be here -->
                  <li><a href="#" class="clr24">Contact</a></li>
                  <li>

                  </li>
               </ul>
            </div>
         </div>
      </div>

   </div>
</nav>